/* import styled from "styled-components";
import theme from "../theme/theme";
import backgroundImage from "./images/mobile-background"; */
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* const ContainerStyle = styled.div`
  background: linear-gradient(
      180deg,
      rgba(${theme.bluelightRgb}, 0.95) 0%,
      rgba(${theme.blueDarkRgb}, 0.95) 100%
    ),
    url(${backgroundImage});
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
`; */
